* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 30px 60px;
}
.nation {
  display: inline-flex;
  border: 2px solid #b09658;
  margin-bottom: 36px;
}
.united {
  background: transparent;
  background-color: #b09658;
  border: none;
  padding: 8px 32px;
  color: #fff;
}
.united-item {
  background: transparent;

  border: none;
  padding: 8px 32px;
  color: burlywood;
}
.contact {
  background: #f5f1f1;
  display: flex;
}
.address {
  margin: 40px 30px;
}
.map {
  flex: 1;
  margin-left: 50px;
}
