html {
}

body {
  background-color: #fff;
  width: 710px;
  padding: 10px;
  margin: 0 auto;
  background-color: #ccc;
}
p {
  width: 470px;
}
input {
  width: 300px;
  padding: 10px 20px 10px 10px;
}
.countrys {
  width: 95%;
  height: 44px;
}
.btn {
  text-align: center;
  width: 250px;
  padding: 16px 28px;
  margin: 20px 0;
  background-color: #08768d;
  color: #fff;
}
